<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Html file</title>
</head>

<body>
    <h1>This is a website which manuplated the text and processes it</h1>
    <form action="removepunc" method="get">
        <textarea name=" text" spellcheck="false" style="margin: 0px; width: 1331px; height: 198px;"></textarea>
        <button type='submit'>Analyse it</button>
    </form>
</body>

</html>